.header {
  text-align: center;
  margin: 3rem auto;
  user-select: none;
}

.header img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  background-color: transparent;
}

.header h1 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
}
