@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #242a28; */
  background: radial-gradient(#303b37, #1a1f1d);
  color: #e1eeeb;
}

.greeting {
  display: flex;
  justify-content: center;
}

.greeting p {
  font-size: 1.2rem;
  color: #c2e9e0;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  user-select: none;
}
